#ucf file

#clock
NET "clk" LOC = T9;
NET "clk" PERIOD = 20 ns;

#7-segment
NET "segments<0>" LOC = "P16";
NET "segments<1>" LOC = "N16";
NET "segments<2>" LOC = "F13";
NET "segments<3>" LOC = "R16";
NET "segments<4>" LOC = "P15";
NET "segments<5>" LOC = "N15";
NET "segments<6>" LOC = "G13";
NET "segments<7>" LOC = "E14";

NET "digits<0>" LOC = "E13";
NET "digits<1>" LOC = "F14";
NET "digits<2>" LOC = "G14";
NET "digits<3>" LOC = "D14";

NET "on_off" LOC = "F12";

#extension board
#NET "row_out<0>" LOC = "T7";
#NET "row_out<1>" LOC = "R10";
#NET "row_out<2>" LOC = "P10";
#NET "row_out<3>" LOC = "N11";

#NET "row_out<0>" LOC = "R10";
#NET "row_out<1>" LOC = "P10";
#NET "row_out<2>" LOC = "N11";
#NET "row_out<3>" LOC = "T7";

#NET "column_in<0>" LOC = "C15" | PULLDOWN;
#NET "column_in<1>" LOC = "M6"  | PULLDOWN;
#NET "column_in<2>" LOC = "N6"  | PULLDOWN;
#NET "column_in<3>" LOC = "R7"  | PULLDOWN;

#NET "led_out" LOC = "E10";
