#ucf file

#clock
NET "clk" LOC = T9;
NET "clk" PERIOD = 20 ns;

#7-segment
NET "segment_out<0>" LOC = "P16";
NET "segment_out<1>" LOC = "N16";
NET "segment_out<2>" LOC = "F13";
NET "segment_out<3>" LOC = "R16";
NET "segment_out<4>" LOC = "P15";
NET "segment_out<5>" LOC = "N15";
NET "segment_out<6>" LOC = "G13";
NET "segment_out<7>" LOC = "E14";

NET "digit_segment<0>" LOC = "E13";
NET "digit_segment<1>" LOC = "F14";
NET "digit_segment<2>" LOC = "G14";
NET "digit_segment<3>" LOC = "D14";


#extension board
NET "row_out<0>" LOC = "T7";
NET "row_out<1>" LOC = "R10";
NET "row_out<2>" LOC = "P10";
NET "row_out<3>" LOC = "N11";

NET "column_in<0>" LOC = "C15" | PULLDOWN;
NET "column_in<1>" LOC = "M6"  | PULLDOWN;
NET "column_in<2>" LOC = "N6"  | PULLDOWN;
NET "column_in<3>" LOC = "R7"  | PULLDOWN;

NET "led_out" LOC = "E10";
